html body{
  margin-top:30px;
  background: #0A234F;
  font: 12px Droid Sans, Verdana, sans-serif;
  color: #494949;
  background:url(../images/body_bg.png);
}

#content-front{
    background:url(../images/banner.png) no-repeat;
    height:425px;
}
#content, #content-top{
   
}

#site-slogan{
    font-family:Lobster;
    font-size:430%;
    font-weight:bold;
    letter-spacing:100%;
    /*color:#65B9E2;*/
    color:#0A234F;
    text-align:left;
    margin-left:20px;
    /*text-shadow: #6374AB -2px -2px -2px;*/
    text-shadow: #fff  2px 2px 0;
    margin-top:20px;
}
#mission, .content-wrap{
    font-family:Droid Sans;
    font-size:120%;
    font-weight:bold;
    /*color:#65B9E2;*/
    color:#0A234F;
    text-align:left;
    margin-left:20px;
    text-shadow: #fff 2px 2px 2px;
    margin-top:20px;
    
}

.countdown{
    margin-top:20px;
}
#first-time, .issues-link, .feed-icon{
    display:none;
}
/*
.block-simplenews{
    position:absolute;
    bottom:25px;
    width:100%;
    text-align:left;
    margin-left:20px;
    margin-bottom:15px;
}

.block-simplenews h2{
    font-size:100%;
    font-family:Droid Sans;
    font-weight:bold;
    margin-bottom:10px;
    display:none;
}
.block-simplenews p{
    display:none;
}
.form-radios{
    display:none;
}
.form-item{
    display:inline;
}
.form-item label{
    font-size:150%;
    font-family:Droid Sans;
    font-weight:normal;
    display:inline;
}
.form-text{
    display:inline;
    background:url(../images/txtbox_bg.png) no-repeat;
    width:366px;
    height:52px;
    border:none;
    margin:3px;
    padding-left:5px;
    font-size:150%;
}
.form-submit{
    display:inline;
    font-size:150%;
    font-family:Droid Sans;
    background:url(../images/btn_bg.png) no-repeat;
    width:145px;
    height:52px;
    border:none;
    margin:0;
    padding:0;
}

*/

#footer-message{
     margin-top:10px;
     color:#D4D3D3;
     text-shadow: #8399BF 0 1px 0;
}
