/* ADMIN THEME */

body,
input,
textarea,
select { font-family:"Lucida","Lucida Grande","Trebuchet MS",Tahoma,Verdana,sans-serif; 
}

.breadcrumb a, li a {
    text-shadow:#000 0px 1px 0px;
}
.breadcrumb{
    /*background:#f4f4f4;
    border:1px solid #fff;
    hieght:30px;
    line-height:30px;
    -moz-box-shadow:#ddd 0px 1px 3px;
    -webkit-box-shadow:#ddd 0px 1px 3px;
    */
    color:#f4f4f4;
    
    
}

div.admin-panel{
    margin-bottom:10px;
}
    
    
    


#content {
  color:#333;
  background:#ccc url(images/bleeds.png) 0px -80px repeat-x;
  margin-bottom:10px;
  }

a {
  color:#39c;
  text-decoration:none;
  }

/**
 * "Rounded" elements =================================================
 */
.block,
.item-list,
.help-items ul,
.form-item,
.admin-list,
.node-type-list,
.admin-panel,
.box-title,
div.messages,
.compact-link a,
.confirmation ul,
form .buttons,
input.teaser-button,
input.form-submit {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.item-list h3,
.block .block-title,
.admin-panel h3,
.collapsible .fieldset-title a {
  -moz-border-radius:2px 2px 0px 0px;
  -webkit-border-radius-top-left:2px;
  -webkit-border-radius-top-right:2px;
  }

  .fieldset-title {
    -moz-border-radius:3px 3px 0px 0px;
    -webkit-border-radius:3px 3px 0px 0px;
    }

  .collapsed .fieldset-title {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

  .collapsed .fieldset-title a {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    }

  .fieldset-content {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

  .titled .fieldset-content {
    -moz-border-radius:0px 0px 3px 3px;
    -webkit-border-radius:0px 0px 3px 3px;
    }

.block .block-content {
  -moz-border-radius:0px 0px 2px 2px;
  -webkit-border-radius-bottom-left:2px;
  -webkit-border-radius-bottom-right:2px;
  }

/**
 * "Popped" elements ==================================================
 */
div.messages {
  -moz-box-shadow:#ddd 0px 1px 3px;
  -webkit-box-shadow:#ddd 0px 1px 3px;
  }

input.teaser-button,
input.form-submit {
  -moz-box-shadow:#ddd 0px 1px 1px;
  -webkit-box-shadow:#ddd 0px 1px 1px;
  }

/**
 * "Embossed" elements ================================================
 */
table,
.block,
.item-list,
.help-items ul,
.fieldset,
.form-item,
.admin-list,
.node-type-list,
.admin-panel,
.pager a:hover,
.confirmation ul {
  -moz-box-shadow:#fff 0px 1px 0px;
  -webkit-box-shadow:#fff 0px 1px 0px;
  }

.block .item-list,
.block .form-item,
.admin-panel .admin-list,
.teaser-checkbox .form-item,
.form-item .form-item,
.fieldset .form-item,
table .form-item {
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  }

table th {
  text-shadow:#fff 0px 1px 0px;
  }

/**
 * Branding ===========================================================
 */
/*
#branding {
  margin:0px 30px;
  padding:5px 0px 4px;
  border-bottom:1px solid #e0e0e0;
  overflow:hidden;
  height:20px;
  position:relative;

  font-size:11px;
  text-shadow:#fff 0px 1px 0px;
  line-height:20px;
  color:#999;
  }

#branding a {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  color:#333;
  float:left;
  padding:0px 10px;
  }

#branding a:hover { background:#ddd; }

#branding ul.links { float:right; }

#branding .breadcrumb {
  padding:0px 5px;
  float:left;
  text-transform:uppercase;
  font-weight:normal;
  }

  #branding .breadcrumb a,
  #branding .breadcrumb strong {
    font-weight:normal;
    float:left;
    padding:0px 5px;
    }

  #branding .breadcrumb .breadcrumb-link {
    float:left;
    padding-right:5px;
    background:url(images/sprite.png) 100% 100% no-repeat;
    }
*/
/**
 * Page title =========================================================
 */
#page-title {
  position:relative;
  padding:0px 30px;
  }

  #page-title .page-title {
    padding:15px 10px;
    line-height:30px;
    min-height:30px;

    text-shadow:#fff 0px 1px 0px;
    -webkit-text-shadow:#fff 0px 1px 0px;

    letter-spacing:-1px;
    font-weight:normal;
    font-size:20px;
    }

  #page-title .page-title span.icon {
    float:left;
    margin-right:10px;
    }

/**
 * Tabs ===============================================================
 */
.primary-tabs {
  position:absolute;
  right:60px;
  bottom:-1px;
  overflow:hidden;
  height:36px;
  padding:0px;
  line-height:20px;
  }

.primary-tabs li { padding-left:5px; }

.pager a,
.pager li.pager-current,
.primary-tabs li a {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;

  padding:4px 9px;

  font-size:11px;
  font-weight:normal;

  color:#999;
  background:transparent;

  border-width:1px;
  border-style:solid;
  border-color:transparent;
  }

  .pager a:hover {
    background:#eee;
    border-color:#ccc #ddd #eee;
    }

.pager li.pager-current,
.primary-tabs li a:hover {
  -moz-box-shadow:#fff 0px 1px 0px;
  -webkit-box-shadow:#fff 0px 1px 0px;
  border-color:#999;
  background:#888 url(images/bleeds.png) 0px 0px repeat-x;
  color:#fff;
  }

.primary-tabs li.active a,
.primary-tabs li.active a.active {
  -moz-border-radius:3px 3px 0px 0px;
  -webkit-border-radius:3px 3px 0px 0px;

  padding:4px 14px 11px;
  color:#333;
  border-bottom:0px;
  border-color:#fff;
  background:#f4f4f4 url(images/bleeds.png) 0px -41px repeat-x;
  }

div.secondary-tabs {
  font-size:11px;
  padding:4px;
  border-bottom:1px solid #e8e8e8;
  }

  ul.secondary-tabs { float:right; }

  .secondary-tabs li a,
  .secondary-tabs li a:hover {
    color:#333;
    padding:0px 10px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

  .secondary-tabs li a:hover { background:#ddd; }

  .secondary-tabs li a.active,
  .secondary-tabs li.active a {
    background:#888 url(images/bleeds.png) 0px 0px repeat-x;
    color:#fff;
    }

/**
 * Page layout ========================================================
 */
#content {

  background:transparent;
  

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

.page-content { padding:4px; }

.content-wrapper { margin:5px; }

div.messages,
.block { margin:5px; }

/**
 * Footer =============================================================
 */
#footer {
  padding:10px 30px 30px;
  font-size:11px;
  text-shadow:#fff 0px 1px 0px;
  }

#footer .footer-message {
  padding:0px 10px;
  float:left;
  }

#footer .feed-icons {
  -moz-border-radius:3px;
  -webkit-border-radius:3px;

  /* Assume icons are 16x16 like Drupal core. */
  line-height:16px;
  padding:7px 5px;
  background:#c4c4c4;
  float:right;
  }

  #footer .feed-icons img { display:block; }

  #footer .feed-icons label,
  #footer .feed-icons a {
    padding:0px 5px;
    float:left;
    }

/**
 * Help ===============================================================
 */
a#help-toggler {
  position:absolute;
  right:30px;
  bottom:10px;
  background:url(images/sprite.png) -20px 0px no-repeat;

  height:20px;
  width:20px;

  text-indent:-999px;
  overflow:hidden;
  }

  a#help-toggler.toggler-active { background-position:-20px -20px; }

  a#help-toggler.toggler-disabled {
    cursor:default;
    background-position:-20px -40px;
    }

#help-text {
  background:#fff url(images/vrule.png) 65% 0% repeat-y;
  border-bottom:1px solid #ddd;
  }

  #help-text.with-tabs {
    -moz-border-radius:2px 2px 0px 0px;
    -webkit-border-radius-top-left:2px;
    -webkit-border-radius-top-right:2px;
    }

  #help-text .breadcrumb-label,
  #help-text .breadcrumb-link { display:block; }

  #help-text .breadcrumb-link {
    background:url(images/sprite.png) -185px -180px no-repeat;
    padding-left:20px;
    }

/**
 * Content ============================================================
 */
.help,
div.comment,
div.node {
  border-style:solid;
  border-width:1px;
  border-color:#A1B2C6 #ddd #eee;

  background:#63778E url(images/vrule.png) 65% 0% repeat-y;
  margin:0px 0px 10px;

  -moz-box-shadow:#fff 0px 1px 0px;
  -webkit-box-shadow:#fff 0px 1px 0px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }

#help-text .column-main .column-wrapper,
.help .column-main .column-wrapper,
div.comment .column-main .column-wrapper,
div.node .column-main .column-wrapper { padding:19px; }

  #help-text .column-main .column-wrapper {
    padding-left:59px;
    position:relative;
    }

    #help-text .column-main .column-wrapper span.icon {
      position:absolute;
      top:15px;
      left:15px;
      }

#help-text .column-side .column-wrapper,
.help-page .column-side .column-wrapper,
div.comment .column-side .column-wrapper,
div.node .column-side .column-wrapper {
  padding:9px;
  font-size:11px;
  }

#help-text .column-side .help-links,
.help-page .column-side .help-page-links,
.node-submitted,
.comment-submitted {
  padding:10px;
  background:#f8f8f8;
  }

.comment-links,
.node-links { padding:10px 0px; }

.help-page .help-page-links ul.links {
  -moz-column-count:2;
  -webkit-column-count:2;
  }

.column-side ul.links li,
.column-side ul.links a,
.column-side ul.links span {
  display:block;
  float:none;
  }

.column-side ul.links a,
.column-side ul.links span {
  padding:0px 10px;
  display:block;
  float:none;
  }

  .column-side ul.links span a {
    padding:0px;
    display:inline;
    }

  .column-side ul.links a.active,
  .column-side ul.links a:hover { background:#fff; }
  .comment-links ul.links a:hover { background:#f4f4f4; }

.comment-title,
.node-title {
  margin:0px 0px 20px;
  font-weight:normal;
  font-size:16px;
  }
